<div class="main-content">

    <div class="title">{{#link-to "home"}}FANTASY LINEUPS{{/link-to}}</div>
    <div class="sub-title">
        Connect with some of the best in the business and start dominating fantasy sports today!
    </div>

    <div class="actions">
      <div class="button" {{action "onLogin"}}>Login</div>
      <div class="button" {{action "onRegister"}}>Register</div>
    </div>

    {{outlet}}
</div>